<!DOCTYPE html>
<html lang="ru">
<head>
    <title></title>
</head>
<body>
<header>
    Test
</header>


<input id="email"></input>
<input class="username"></input>

<button name="test" onclick="testajax()"/>

<style>
    .username {
        width: 150px;
        background-color: chartreuse;
    }

    #email {
        width: 100px;
        background-color: cornflowerblue;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<!--logic -->

<!-- html -->


<script>
    //here is javascript

    function testajax() {
        debugger;
        $.ajax({
            url: '/test_ajax',
            data: ({
                email: $('#email').val(),
                name: $('.username').val()
            }),
            success: function (data) {
                alert('success_test');
            },
            error: function (xhr) {
                alert('error');
            }
        });
    }
</script>


</body>
</html>